.bcpt {
    display: list-item
    }
.bold {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-weight: bold;
    padding-bottom: 0;
    padding-top: 0;
    margin: 1em 0
    }
.bold1 {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre2 {
    color: gray;
    display: block;
    height: 2px;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre3 {
    display: table-column-group
    }
.calibre4 {
    display: table-column
    }
.calibre5 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre6 {
    display: table-row;
    vertical-align: inherit;
    border: gray solid 1px
    }
.calibre7 {
    display: inline;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
    }
.calibre8 {
    display: list-item;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none
    }
.calibre9 {
    display: block;
    margin: 1em 0
    }
.calibre10 {
    display: block
    }
.calibre11 {
    display: block;
    margin-left: 40px
    }
.calibre12 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0
    }
.calibre13 {
    display: block;
    margin: 1em
    }
.calibre14 {
    display: table-header-group;
    vertical-align: middle
    }
.cc-header {
    display: block;
    
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.chart-head {
    line-height: 1.2
    }
.co-list {
    display: block;
    list-style-type: upper-latin;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.content {
    border-bottom: 0;
    border-top: 0;
    display: block;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0
    }
.contents {
    display: block;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.contents1 {
    display: block;
    list-style-type: circle;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.eoc-title {
    display: block;
    
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.figure__caption {
    text-indent: 0
    }
.figure__image {
    height: auto;
    width: auto
    }
.figure--fullwidth {
    width: 95%
    }
.fmnl {
    display: block;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.front-section-title {
    display: block;
    
    font-size: 1.66667em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.italic {
    font-style: italic
    }
.italic1 {
    font-style: italic;
    line-height: 1.2
    }
.part-number-part {
    display: block;
    line-height: 1.2;
    text-align: center
    }
.smallcaps {
    font-size: 0.75em
    }
.soc-titles-blue-text {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    margin: 1em 0
    }
.subscript {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: sub
    }
.superscript {
    font-size: 0.75em;
    line-height: normal;
    vertical-align: super
    }
.table {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 0;
    width: 95%
    }
.table-number {
    display: block;
    font-weight: bold;
    line-height: 1.2
    }
.table-title {
    font-weight: bold;
    line-height: 1.2
    }
.toc {
    display: block;
    list-style-type: square;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.top {
    display: table-cell;
    text-align: inherit;
    vertical-align: inherit;
    padding: 5px;
    border: gray solid 1px
    }
