.calibre {
    display: block;
    font-size: 0.75em;
    margin: 0 5pt;
    border: currentColor none 0;
    padding: 0
    }
.calibre1 {
    display: block;
    font-family: serif;
    font-size: 1.33333em;
    margin-bottom: auto;
    margin-top: auto;
    max-width: 77ex;
    min-height: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 2em;
    text-align: justify
    }
.calibre2 {
    display: block;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre3 {
    display: block;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: bold;
    padding-top: 1em;
    text-align: left;
    margin: 0.83em 0
    }
.calibre5 {
    color: #000;
    line-height: 1.2;
    text-decoration: none
    }
.calibre6 {
    display: block;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre7 {
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre8 {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 1.2;
    margin: 1.33em 0
    }
.calibre9 {
    display: block;
    line-height: 1.2;
    margin: 1ex 0 1em
    }
.calibre10 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre11 {
    height: auto;
    line-height: 1.2;
    width: auto
    }
.calibre12 {
    font-style: italic;
    line-height: 1.2
    }
.calibre13 {
    display: block;
    line-height: 1.2;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre14 {
    display: list-item;
    line-height: 1.2
    }
.calibre15 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: sub
    }
.calibre16 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: sub
    }
.calibre17 {
    display: block;
    line-height: 1.2;
    list-style-type: decimal;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre18 {
    font-family: monospace;
    line-height: 1.2
    }
.calibre19 {
    font-size: 0.83333em;
    line-height: normal;
    vertical-align: super
    }
.calibre20 {
    display: block;
    font-family: monospace;
    font-size: 0.75em;
    white-space: pre-wrap;
    margin: 1em 0 1em 2em
    }
.calibre21 {
    display: block;
    line-height: 1.2;
    text-align: center;
    margin: 1ex 0 1em
    }
.calibre22 {
    font-style: italic
    }
.calibre23 {
    display: table-caption;
    line-height: 1.2;
    text-align: center
    }
.calibre24 {
    display: table-row-group;
    line-height: 1.2;
    vertical-align: middle
    }
.calibre25 {
    display: table-row;
    line-height: 1.2;
    vertical-align: inherit
    }
.calibre26 {
    border-collapse: collapse;
    display: table-cell;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    vertical-align: bottom;
    width: 1.35em;
    margin: 0;
    border-top: currentColor solid thin;
    border-bottom: currentColor solid thin;
    padding: 1px 1em
    }
.calibre27 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 0.5em
    }
.calibre28 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 0.5em 0.5em
    }
.calibre29 {
    border-collapse: collapse;
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-top: currentColor solid thin;
    padding: 0.5em 0.5em 0
    }
.calibre30 {
    display: list-item;
    line-height: 1.2;
    text-indent: -1.3em
    }
.calibre31 {
    color: #000;
    line-height: 1.2;
    text-decoration: none;
    text-indent: 0
    }
.calibre32 {
    font-style: italic;
    line-height: 1.2;
    text-indent: 0
    }
.calibre33 {
    font-size: 0.83333em;
    line-height: normal;
    text-indent: 0;
    vertical-align: sub
    }
.calibre34 {
    display: block;
    line-height: 1.2;
    text-indent: 0;
    margin: 1ex 0 1em
    }
.calibre35 {
    display: list-item;
    line-height: 1.2;
    margin-bottom: 1em
    }
.calibre36 {
    border-collapse: collapse;
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-top: currentColor solid thin;
    padding: 0.5em 3em 0 0.5em
    }
.calibre37 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 3em 0 0.5em
    }
.calibre38 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 3em 0.5em 0.5em
    }
.calibre39 {
    display: block;
    line-height: 1.2;
    padding-top: 0.5em;
    margin: 1ex 0 1em
    }
.calibre40 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 6em 0 0.5em
    }
.calibre41 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 6em 0.5em 0.5em
    }
.calibre42 {
    display: list-item;
    line-height: 1.2;
    text-indent: 0
    }
.calibre43 {
    display: block;
    line-height: 1.2;
    list-style-type: lower-alpha;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre44 {
    display: table-cell;
    line-height: 1.2;
    text-align: center;
    vertical-align: inherit;
    padding: 1px 1em 1px 1px
    }
.calibre45 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px 1em 1px 1px
    }
.calibre46 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: sub
    }
.calibre47 {
    font-size: 0.625em;
    line-height: normal;
    vertical-align: super
    }
.calibre48 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 9em 0 0.5em
    }
.calibre49 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 9em 0.5em 0.5em
    }
.calibre50 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 11em 0 0.5em
    }
.calibre51 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 11em 0.5em 0.5em
    }
.calibre52 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 7em 0 0.5em
    }
.calibre53 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 7em 0.5em 0.5em
    }
.calibre54 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 3.5em 0 0.5em
    }
.calibre55 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 3.5em 0.5em 0.5em
    }
.calibre56 {
    display: block;
    line-height: 1.2;
    text-align: left
    }
.calibre57 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    text-indent: 0;
    margin: auto
    }
.calibre58 {
    display: table-cell;
    height: 3em;
    line-height: 1.2;
    text-align: center;
    vertical-align: inherit;
    width: 3em;
    border: currentColor solid thin;
    padding: 1px
    }
.calibre59 {
    display: table-cell;
    height: 3em;
    line-height: 1.2;
    text-align: center;
    vertical-align: inherit;
    border: currentColor solid thin;
    padding: 1px
    }
.calibre60 {
    display: block;
    line-height: 1.2;
    margin-left: 40px
    }
.calibre61 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0 0.5em
    }
.calibre62 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 0.5em 0.5em
    }
.calibre63 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.2;
    margin: 0.5em auto;
    border: currentColor inset 1px
    }
.calibre64 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 2em 0 0.5em
    }
.calibre65 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0 2em 0.5em 0.5em
    }
.calibre66 {
    font-size: 0.9em;
    line-height: normal;
    vertical-align: super
    }
.calibre67 {
    display: table-caption;
    line-height: 1.2;
    padding-bottom: 0.5em;
    text-align: center
    }
.calibre68 {
    display: table-row;
    line-height: 1.2;
    padding-top: 0;
    vertical-align: inherit;
    border-top: currentColor solid thin
    }
.calibre69 {
    display: table-cell;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    padding: 0.5em 0.5em 0
    }
.calibre70 {
    display: table-cell;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    padding: 0 0.5em
    }
.calibre71 {
    display: table-row;
    line-height: 1.2;
    vertical-align: inherit;
    border-bottom: currentColor solid thin
    }
.calibre72 {
    display: table-cell;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    padding: 0 0.5em 0.5em
    }
.calibre73 {
    display: table-row;
    line-height: 1.2;
    padding-top: 0;
    vertical-align: inherit;
    border-top: currentColor solid thin;
    border-bottom: currentColor solid thin
    }
.calibre74 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0.5em 1.5em 0.5em 0.5em
    }
.calibre75 {
    display: table-cell;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    padding: 0.5em
    }
.calibre76 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0 1.5em 0 0.5em
    }
.calibre77 {
    display: table-cell;
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    padding: 0 0.5em
    }
.calibre78 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0 0.5em 0.5em
    }
.calibre79 {
    display: table-cell;
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    padding: 0 0.5em 0.5em
    }
.calibre80 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    padding: 0 0.5em
    }
.calibre81 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    padding: 0 0.5em 0.5em
    }
.calibre82 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    white-space: pre-wrap;
    padding: 0.5em 0.5em 0
    }
.calibre83 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    white-space: pre-wrap;
    padding: 0 0.5em
    }
.calibre84 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    white-space: pre-wrap;
    padding: 0 0.5em 0.5em
    }
.calibre85 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    white-space: pre-wrap;
    padding: 0.5em 1em 0 0.5em
    }
.calibre86 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    white-space: pre-wrap;
    padding: 0 1em 0 0.5em
    }
.calibre87 {
    display: table-cell;
    font-family: monospace;
    line-height: 1.2;
    text-align: right;
    vertical-align: top;
    white-space: pre-wrap;
    padding: 0 1em 0.5em 0.5em
    }
.calibre88 {
    font-size: 1em;
    line-height: 1.2;
    vertical-align: super
    }
.calibre89 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0.5em 0.5em 0
    }
.calibre90 {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 4em;
    text-indent: 0
    }
.calibre91 {
    display: table-cell;
    font-weight: bold;
    line-height: 1.2;
    vertical-align: inherit;
    padding: 1px
    }
.calibre92 {
    display: table-cell;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: inherit;
    padding: 1px
    }
.calibre93 {
    font-size: 0.83333em;
    line-height: normal;
    text-indent: 0;
    vertical-align: super
    }
.calibre94 {
    display: block;
    line-height: 1.2;
    list-style-type: upper-alpha;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre95 {
    display: block;
    line-height: 1.2;
    list-style-type: decimal;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre96 {
    display: block;
    line-height: 1.2;
    list-style-type: upper-roman;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre97 {
    display: block;
    line-height: 1.2;
    list-style-type: lower-roman;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.calibre98 {
    display: block;
    line-height: 1.2;
    list-style-type: lower-alpha;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre99 {
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0 0 0.67em
    }
.calibre100 {
    clear: right;
    display: block;
    line-height: 1.2;
    margin: 1em 0
    }
.calibre101 {
    clear: both;
    display: block;
    line-height: 1.2;
    margin: 1em 0;
    padding: 2em
    }
.calibre102 {
    display: block;
    font-family: sans-serif;
    font-size: 1.83333em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.caption {
    display: block;
    font-style: italic;
    line-height: 1.2;
    margin: 1ex 0 1em
    }
.chapter {
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 1em;
    margin: 0 0 0.67em
    }
.data-table {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: left;
    text-indent: 0
    }
.data-table1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: auto
    }
.data-table2 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    margin: auto
    }
.data-table3 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    width: 70%;
    margin: auto
    }
.figure {
    display: block;
    line-height: 1.2;
    text-align: center;
    margin: 1em 0
    }
.image {
    display: block;
    line-height: 1.2;
    margin: 1ex 0 1em;
    border: currentColor solid 1px
    }
.image1 {
    display: block;
    line-height: 1.2;
    border: currentColor solid 1px
    }
.last-data-row {
    display: table-row;
    line-height: 1.2;
    vertical-align: inherit;
    border-bottom: currentColor none medium
    }
.math {
    display: block;
    line-height: 1.2;
    text-align: center;
    white-space: pre-wrap;
    margin: 1ex 0 1em
    }
.math-left {
    display: block;
    line-height: 1.2;
    padding-left: 2em;
    text-align: left;
    white-space: pre-wrap;
    margin: 1ex 0 1em
    }
.math1 {
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    white-space: pre-wrap;
    margin: 1ex 0 1em
    }
.nobullets-li-one-line-padded {
    display: block;
    line-height: 1.2;
    list-style-type: none;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
    }
.part {
    display: block;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 2em;
    text-align: center;
    margin: 0 0 0.67em
    }
.quote {
    display: block;
    line-height: 1.2;
    margin: 1ex 1.5em 1.5em
    }
.row-title {
    display: table-cell;
    font-weight: bold;
    line-height: 1.2;
    text-align: inherit;
    vertical-align: top;
    padding: 0 0.5em
    }
.signature {
    clear: both;
    display: block;
    float: right;
    line-height: 1.2;
    margin: 1ex 0 1em
    }
.split {
    counter-reset: mycounter;
    display: block;
    line-height: 1.2;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.split1 {
    display: block;
    line-height: 1.2;
    list-style-type: none;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.split2 {
    counter-reset: mycounter;
    display: block;
    line-height: 1.2;
    list-style-type: lower-alpha;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 0
    }
.sub-item {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0 0.5em 0 2em
    }
.sub-item1 {
    display: table-cell;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    padding: 0 0.5em 0.5em 2em
    }
.title {
    display: block;
    font-size: 1.83333em;
    line-height: 1.2
    }
.title1 {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2
    }
.title2 {
    display: table-cell;
    font-style: italic;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    vertical-align: top;
    padding: 0 2em 0 0.5em
    }
.title3 {
    display: table-cell;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0.5em 0.5em 0
    }
.title4 {
    display: table-cell;
    font-style: italic;
    line-height: 1.2;
    text-align: left;
    vertical-align: top;
    border-bottom: currentColor solid thin;
    padding: 0.5em
    }
.vote {
    border-collapse: separate;
    border-spacing: 2px;
    display: table;
    line-height: 1.2;
    text-indent: 0;
    margin: auto
    }
.pcalibre1:before {
    content: counter(mycounter) ".  ";
    counter-increment: mycounter
    }
.pcalibre:hover {
    color: #00f;
    text-decoration: underline
    }
